/* Define custom properties for viewport width and height */
@property --_w {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw;
  }
  
@property --_h {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vh;
  }
 