.checkoutFlex{
    display: flex;
    justify-content: center;
}
.checkoutContainer{
    margin-top: 50px;
}
@property --_w {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vw; 
  }
  @property --_h {
    syntax: '<length>';
    inherits: true;
    initial-value: 100vh; 
  }